body {
  height: 505px;
  background: radial-gradient(circle at 50% 300px, #5a5c5c, #cfc8c8);
}

.container {
  height: 300px;
  width: 100%;
  background: transparent;
  max-width: 1080px;
  margin-left: 7.5%;
}

.stopwatch {
  text-align: center;
  font-size: 100px;
  height: 300px;
  width: 100%;
  background: transparent;
}

h1 {
  margin-bottom: 0px
}

button {
  height: 50px;
  width: 200px;
  border: none;
  padding: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px 4px black;
  box-shadow: 5px 5px 5px rgb(48, 48, 48);
}

.caption {
  font-size: 20px;
  list-style: none;
  padding-left: 0px;
}

.caption li {
  display: inline-block;
  width: 20%;
}

.start {
  background-color: rgb(80, 236, 161);
}

.start:hover {
  background-color: rgb(46, 142, 96);
}

.stop {
  background-color: rgb(214, 72, 72);
}

.stop:hover {
  background-color: rgb(142, 46, 46);
}

.clear {
  background-color: rgb(181, 176, 173);
}

.clear:hover {
  background-color: rgb(70, 68, 67);
}

.hours::after,
.minutes::after {
  content: ""
}


@media (min-width: 1920px) {
  .container {
    margin-left: 23%;
  }
}

@media (max-width: 1024px) {
  body {
    height: 750px;
  }
  .container {
    margin-left: 0px;
    padding-top: 100px;
  }
}


@media (max-width: 768px) {
  .container {
    margin-top: 15%;
  }
  h1.elapsed-time {
    font-size: 80px;
  }
  body {
    height: 900px;
    background: radial-gradient(circle at 50% 375px, #5a5c5c, #cfc8c8);
  }
}

@media (max-width: 736px) {
  .stopwatch {
    font-size: 48px;
  }
  .container {
    margin-left: 0px;
    padding-top: 15px;
    margin-top: 60px;
  }
  .caption li {
    width: 13%;
    padding-left: 25px;
    padding-right: 25px;
  }
  h1.elapsed-time {
    margin-top: 0px;
  }
  body {
    height: 345px;
    background: radial-gradient(circle at 50% 175px, #5a5c5c, #cfc8c8);
  }
}

@media (max-width: 667px) {
  body {
    height: 307px;
    background: radial-gradient(circle at 50% 150px, #5a5c5c, #cfc8c8);
  }
}

@media (max-width: 568px) {
  h1.elapsed-time {
    font-size: 60px;
  }
  .controls button {
    width: 150px;
  }
  .container {
    margin-top: 50px;
    padding-top: 0px;
    height: 210px;
  }
  body {
    height: 262px;
    background: radial-gradient(circle at 50% 150px, #5a5c5c, #cfc8c8);
  }
  .caption {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .stopwatch {
    height: 100px;
  }
  .caption li {
    width: 13%;
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media (max-width: 480px) {
  .controls button {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
  .container {
    margin-top: 75px;
  }
  body {
    height: 225px;
  }
  .caption li {
    width: 13%;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 14px;
  }
}

@media (max-width: 414px) {
  .caption {
    font-size: 18px;
    margin-left: -5%;
  }
  .caption li {
    width: 10%;
    padding-left: 20px;
    padding-right: 20px;
  }
  h1.elapsed-time {
    font-size: 50px;
  }
  .container {
    margin-top: 200px;
  }
  body {
    height: 525px;
  }
}

@media (max-width: 375px) {
  .stopwatch {
    font-size: 36px;
  }
  body {
    height: 458px;
  }
  button {
    margin-top: 15px;
  }
}

@media (max-width: 320px) {
  body {
    height: 408px;
  }
  .container {
    margin-top: 150px;
  }
  h1.elapsed-time {
    font-size: 40px;
  }
  .caption {
    margin-right: 25px;
  }
  .caption li {
    width: 8%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .controls button {
    font-size: 16px;
    padding: 2px;
    width: 85px;
}
}

@media (max-width: 320px) and (max-height: 480px) {
  body {
    height: 320px;
  }
}
